@{
    ViewBag.Title = "Home Page";
}

<main>
    <head>
        <title>My Web Page</title>
        <style>
            header{
                text-align:center;
            }
            </style>
    </head>
    <body>
        <header>
            <h1>AHSANULLAH UNIVERSITY OF SCIENCE AND TECHNOLOGY</h1>
            <img src="~/photos/AUST.jpg" width="500" height="500" />"
        </header>
        
       
    </body>

</main>